<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- 数据库连接池 -->
    <!--
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/dbcompany</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    -->
    <!-- 处理中文乱码 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.coastshop.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 验证用户登录 -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.coastshop.filter.LoginFilter</filter-class>
        <init-param>
            <param-name>uncheck</param-name>
            <param-value>/login.jsp,/login.do,register.jsp,register.do,.js,.css,.png,.jpeg</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.coastshop.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagerServlet</servlet-name>
        <servlet-class>com.coastshop.web.UserManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBBackupServlet</servlet-name>
        <servlet-class>com.coastshop.web.DBBackupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>com.coastshop.web.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopManagerServlet</servlet-name>
        <servlet-class>com.coastshop.web.ShopManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BJDServlet</servlet-name>
        <servlet-class>com.coastshop.web.BJDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopinServlet</servlet-name>
        <servlet-class>com.coastshop.web.ShopinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutListServlet</servlet-name>
        <servlet-class>com.coastshop.web.OutListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreOutListServlet</servlet-name>
        <servlet-class>com.coastshop.web.StoreOutListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreOutExcel</servlet-name>
        <servlet-class>com.coastshop.web.StoreOutExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoToSapServlet</servlet-name>
        <servlet-class>com.coastshop.web.SoToSapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateShopServlet</servlet-name>
        <servlet-class>com.coastshop.web.CreateShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.coastshop.web.AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOutListServlet</servlet-name>
        <servlet-class>com.coastshop.web.CreateOutListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStoreOutServlet</servlet-name>
        <servlet-class>com.coastshop.web.CreateStoreOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Out2Sap</servlet-name>
        <servlet-class>com.coastshop.web.Out2SapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoToFTPServlet</servlet-name>
        <servlet-class>com.coastshop.web.SoToFTPServlet</servlet-class>
        <init-param>
            <param-name>host</param-name>
            <param-value>211.157.111.245</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>21</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>XXLR1219</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>coast0414</param-value>
        </init-param>
        <init-param>
            <param-name>dir</param-name>
            <param-value>主数据上传地址</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ProductEditServlet</servlet-name>
        <servlet-class>com.coastshop.web.ProductEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountServlet</servlet-name>
        <servlet-class>com.coastshop.web.DiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.coastshop.web.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopinSAPByDateServlet</servlet-name>
        <servlet-class>com.coastshop.web.ShopinSAPByDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagerServlet</servlet-name>
        <url-pattern>/usermanager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBBackupServlet</servlet-name>
        <url-pattern>/dbsys/dbbackup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopManagerServlet</servlet-name>
        <url-pattern>/shopmanager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BJDServlet</servlet-name>
        <url-pattern>/bjd.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopinServlet</servlet-name>
        <url-pattern>/shopin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutListServlet</servlet-name>
        <url-pattern>/outlist.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreOutListServlet</servlet-name>
        <url-pattern>/storeoutlist.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreOutExcel</servlet-name>
        <url-pattern>/storeoutexcel.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoToSapServlet</servlet-name>
        <url-pattern>/sotosap.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateShopServlet</servlet-name>
        <url-pattern>/createshop.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/ajax.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOutListServlet</servlet-name>
        <url-pattern>/createoutlist.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStoreOutServlet</servlet-name>
        <url-pattern>/createstoreout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Out2Sap</servlet-name>
        <url-pattern>/out2sap.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoToFTPServlet</servlet-name>
        <url-pattern>/sotoftp.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productlist.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductEditServlet</servlet-name>
        <url-pattern>/productedit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountServlet</servlet-name>
        <url-pattern>/discount.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopinSAPByDateServlet</servlet-name>
        <url-pattern>/shopinsapbydate.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
